<!-- <app-fun-call></app-fun-call> -->
<!-- <app-datatype></app-datatype> -->
<!-- <app-counter-app></app-counter-app> -->
<!-- <app-events></app-events> -->
<!-- <app-get-set-value></app-get-set-value> -->
<!-- <app-if-else></app-if-else> -->
<!-- <app-else-if></app-else-if> -->
<!-- <app-switch-comp></app-switch-comp> -->
<!-- <app-for-loop></app-for-loop> -->
<!-- <app-simple-signal></app-simple-signal> -->
<!-- <app-computed-signal></app-computed-signal> -->
<!-- <app-effect-study></app-effect-study> -->
<!-- <app-for-loop-contextual-var></app-for-loop-contextual-var> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-todo></app-todo> -->
<!-- <app-dynamic-styling></app-dynamic-styling> -->
<!-- <app-directives-basic></app-directives-basic> -->
<!-- <app-ngfordir></app-ngfordir> -->
<!-- <app-ngswitchdir></app-ngswitchdir> -->

<router-outlet>
    <ul>
        <li> <a routerLink="/">ToDo Application</a></li>
        <li> <a routerLink="/interpollation">Interpollation</a></li>
        <li> <a routerLink="/twowaybinding">Two Way  Binding</a></li>
    </ul>
</router-outlet>