<h1>switch-comp works!</h1>
<button style="background-color: red;color:
 #fff;padding: 7px 15px;border: none;margin: 
 5px;border-radius: 7px;font-size: 16px;cursor: pointer;" (click)="updateColor('red')">Red</button>
 <button style="background-color: green;color:
 #fff;padding: 7px 15px;border: none;margin: 
 5px;border-radius: 7px;font-size: 16px;cursor: pointer;" (click)="updateColor('green')">Green</button>
 <button style="background-color: blue;color:
 #fff;padding: 7px 15px;border: none;margin: 
 5px;border-radius: 7px;font-size: 16px;cursor: pointer;" (click)="updateColor('blue')">Blue</button>
 <button style="background-color: yellow;color:
 #000;padding: 7px 15px;border: none;margin: 
 5px;border-radius: 7px;font-size: 16px;cursor: pointer;" (click)="updateColor('yellow')">Yellow</button>

 <input style="padding: 7px 15px; margin: 5px;border-radius: 10px;border: none;
 background-color: rgb(210, 210, 210);font-size: 16px" 
 placeholder="Enter color number" type="text" (input)="updateColorInput($event)">
@switch (color) {
    @case ("red") {
        <h2 style="color: red;">Red Color</h2>
    }
    @case ("green") {
        <h2 style="color: green;">Green Color</h2>
    }
    @case ("blue") {
        <h2 style="color: blue;">Blue Color</h2>
    }
    @case ("yellow") {
        <h2 style="color: yellow;">Yellow Color</h2>
    }
    @default {
        <h2 style="color: black;">Default Color</h2>
    }
}