h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.container {
    height: 95vh;
    display: flex;
    align-items: center;
}
.counter-cont{
   width: fit-content;
   margin: auto;
   margin-top: auto;
   text-align: center;
   padding: 20px;
   background: rgb(199, 199, 199);
   border-radius: 20px;
   border: 2px solid ;
}
span.counter{
    font-size: 34px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}
.btn{
    padding: 10px 20px;
    border-radius: 15px;
    margin: 20px;
    border:1px solid black;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}
.inc{
    background-color: green;
    color: #fff;
}
.dec{
    background-color: red;
    color: #fff;
}
